@charset "utf-8";
.meArchives {
   width: 200px;
    height: 130px;
    display: block;
    background-color: aquamarine;
    background-size: 200px 130px;
}
.meArchives1{
    font-size: 11px;
}

.yeartitle {
    position: relative;
    margin-top: 30px;
    font-size: 20px;
    /* background-color: aquamarine; */
    width: 150px;
    height: 50px;
    line-height: 50px;
}
.yeartitle div{
   /* background-color: black; */
   width: 30px;
   height: 30px;
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   margin: auto;
}
.yeartitle span {
    position: absolute;
    left: 35px;
}
.archive-item a {
    font-size: 1.5em;
}
.post-wrap .archive-item:hover {
    cursor: pointer;
    border:1px solid #646464;
}


.left{
    float: left;
    width: 70%;
    /* background-color: burlywood; */
    margin-top: -15px;
    margin-left: 10px;

}
.right{
    float: right;
    margin-top: 10px;
    margin-right: 10px;

}

.archive-item-link .left p{
    color: rgb(146, 146, 146);
}

.matags{
   display: inline-block;
   width: 180px;
   height: 70px;
   margin-bottom: 10px;
   background-color: #eee;
   border:1px solid #646464;


}
.matags p{
    display: inline-block;
}

.matags:hover{
    border:1px solid #eecd4c;
}

.matagscount{
    margin-left: 5px;
    color: rgb(133, 133, 133);
}


.container .post-wrap a:nth-child(1) div:nth-child(1) {
    background-image: url(https://ishuxun.com/media/img/Blender.png);
    display: inline-block;
    height: 30px;
    width: 30px;
    margin-left: 10px;
}
.container .post-wrap a:nth-child(2) div:nth-child(1) {
    background-image: url(https://ishuxun.com/media/img/c4d.png);
    display: inline-block;
    height: 30px;
    width: 30px;
    margin-left: 10px;
}

.container .post-wrap a:nth-child(3) div:nth-child(1) {
    background-image: url(https://ishuxun.com/media/img/OCtane.png);
    display: inline-block;
    height: 30px;
    width: 30px;
    margin-left: 10px;
}

.container .post-wrap a:nth-child(4) div:nth-child(1) {
    background-image: url(https://ishuxun.com/media/img/Blender.png);
    display: inline-block;
    height: 30px;
    width: 30px;
    margin-left: 10px;
}
